body {
	background-color: salmon;
}

.mainHeader {
	color: tomato;
}

body h2 {
	color: #1460aa;
}

.sectionHeader {
	color: #1460aa;
}

.diaryHeader {
	color: blue;
	font-size: 64px;
}

#rozszerzenia {
	background-color: greenyellow;
}

p {
	color: darkblue;
}